/* home container styles */
@media screen and (min-width: 1300px) {
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
}

/* left side */
.home-left-side {
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #77A6F7;
    color: white;
  }
  
  .nav {
    display: flex;
    justify-content: flex-start;
    margin: 0% 0% 0% 17%;
    border: 1px solid black;
  }
  
  #nav-links {
    color: white;
    text-decoration: none;
    font-family: 'Abel';
    margin-right: 50px;
    font-size: 1.5em;
  }

  #nav-links:hover {
    color: black;
    text-decoration: underline;
  }
  
  .greeting-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 200px;
    overflow: hidden;
    border: 1px solid black;
  }

  #greeting-left {
    font-family: 'Bevan', cursive;
    font-size: 65px;
    font-weight: bold;
  }
  
  .contact-greeting-left {
    display: flex;
    flex-direction: column;
    margin-left: 17%;
  }
  
  #contact-greeting-left {
    font-family: 'Abel';
    font-size: 25px;
    margin-bottom: 10px;
    color:  white;
  }
  
  .contact {
    padding: 5px;
    display: flex;
    width: 50%;
  }
  
  #home-icons {
    font-size: 1.95em;
    margin-right: 45px;
    justify-content: flex-start;
    color: white;
  }
  
  /* home container styles */
  /* right side */
  .home-right-side {
    width: 50vw;
    background-color: white;
  }
  
  .greeting-right {
    width: 50%;
    margin-left: 50%;
    transform: translate(-50%);
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    justify-content: center;
    height: 100vh;
  }
  
  #title-greeting-right {
    font-family: 'Bevan', cursive;
    overflow: hidden;
    font-size: 2em;
    color: black;
  }
  
  .greeting-line {
    font-size: 1.15em;
    text-decoration: #77A6F7 2px;
    text-decoration-line: underline;
    text-decoration-color: #77A6F7;
  }
  
  #subtitle-greeting-right {
    font-family: 'Abel';
    width: 425px;
    overflow: hidden;
    font-size: 1.5em;
    margin-left: 0px;
    margin-top: 30px;
    padding: 0px;
  }
  
}