/* navBar container styles */
.nav-menu-toggle {
    z-index: 1000;
    right: 25px;
    margin-top: 25px;
    position: fixed;
    cursor: pointer;
  }
  
  #nav-menu-icon {
    font-size: 35px;
  }
  
  .nav-bar {
    width: 10%;
    height: 100%;
    background-color: gray;
    right: 0;
    position: fixed;
    z-index: 500; 
  }
  
  .nav-bar-links {
    margin-top: 75px;
    margin-left: 5%;
  }
  
  #nav-bar-links {
    position: relative;
    display: inline-block;
    text-decoration: none;
    font-family: 'Abel';
    font-size: 1.75em;
    color: white;
    margin-left: 25px;
    margin-top: 20px;
  }
  
  .nav-bar-icons {
    margin-top: 95%;
    margin-bottom: 0;
  }
  
  #nav-bar-icons {
    position: relative;
  
    font-size: 1.75em;
    color: white;
    margin-right: 9px;
    margin-left: 20px;
  }