html, body {
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  width: 100%;
  margin: 0;
  background-repeat:no-repeat;
}

.flex-container {
  display: flex;
}

/* home container styles */
.home-left-side {
  width: 50vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #d94133;
  color: white;
}

.greeting-left {
  font-family: 'Bevan', cursive;
  margin: 0;
  font-size: 5em;
}

#greeting-left {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  margin-top: 10%;
  padding-left: 13%;
  
}

.contact-greeting-left {
  font-family: 'Abel';
  display: flex;
  flex-direction: column;
  margin-left: 13%;

}

#contact-greeting-left {
  font-size: 2.25em;
  margin-bottom: 10px;
}



#home-icons {
  font-size: 2.75em;
  margin-right: 45px;
  color: white;
}

.home-right-side {
  position: fixed;
  width: 50%;
  height: 100%;
  right: 0;
  background-color: white;
}